<div class="body">
<!--toolbar--> 
<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>

<h1 class="h1">{{title}}</h1>
<form class="form" [formGroup]="myForm" (ngSubmit)="onSubmit()">
     <!-----input for name-->
     <div class="name">
     <label for="userName" placeholder="userName">Enter Username</label>
    <input type="text" class="form-control" formControlName="userName"/>
      <span style="color:red" 
      *ngIf="!userName.valid && userName.touched" class="error-block">
      Please Provide Username</span>
</div>
   <!-----input for email-->
  <label for="email" placeholder="email">Enter Email</label>
    <input type="text" class="form-control" formControlName="email">
    <div class="email">
      <span style="color:red"
      *ngIf="!email.valid && email.touched" class="error-block">
      Please Provide Valid Email</span>
    </div>
       <!-----input for password-->
    <label for="password" placeholder="password">Enter Password</label>
    <input type="password" class="form-control" formControlName="password">
    <div class="password">
      <span style="color:red"
      *ngIf="!password.valid && password.touched" class="error-block">
      Please Provide Valid Password</span>
    </div>
    <!-----input for mobile-->
    <label for="mobile" placeholder="mobile">Enter Mobile Number</label>
    <input type="number" class="form-control" formControlName="mobile">
    <div class="mobile">
      <span style="color:red"
      *ngIf="!mobile.valid && mobile.touched" class="error-block">
      Please, Enter 10 digit Mobile Number</span>
    </div>
    <!----button-->
    <div class="button" >
    <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">Submit</button>
    </div>
</form>
</div>